$color-bright-blue: #00a8ff;
$color-bright-red: #e84118;
$color-dark-red: #c23616;
$color-bright-green: #4cd137;
$color-dark-green: #44bd32;
$color-grey-1: #f5f6fa;
$color-grey-2: #ecedf1;
$color-grey-3: #dcdde1;
$color-grey-4: #7f8fa6;
$color-grey-5: #718093;
$color-grey-6: #353b48;
