<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <title>{{ page.title | default: site.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/static/css/main.css' | relative_url }}">
    <script type="module">document.documentElement.classList.remove('no-js'); document.documentElement.classList.add('js');</script>
</head>
<body class="{{ page.bodyclass }}">

    {{ content }}

    <script src="{{ '/static/vendor/jquery/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/static/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="{{ '/static/js/main.js' | relative_url }}"></script>

</body>
</html>
